
<h1>Create a Team and Heroes!</h1>
<form method="post" action="/team">
  <p>Team Name: <input type="text" name="team_name"></p>
  <p>Team Motto: <input type="text" name="team_motto"></p>
  <% 3.times do |index|%>
  <p>Hero <%= index %></p>
  <input type="submit" name="submit" value="submit">
</form>